html, body {
    height: 100%; 
    margin: 0; 
}

body {
    display: flex;
    flex-direction: column;
    margin: 0; /* Remove default margin */
}

h1{
    color: red;
}
.blue_overline_text{
    color: blue;
    text-decoration: overline;
}

#red_underline_text{
    color: red;
    text-decoration: underline;
}

.avatar_image {
    position: fixed; 
    top: 25px; 
    left: 250px; 
    width: 250px; 
    height: auto; 
}

.social_image {
    position: fixed; 
    left: 63.5%; 
    width: 250px; 
    top: 285px;
    z-index: 2;
    opacity: 0;
}

.qualifications {
    position: fixed; 
    left: 27.75%; 
    width: 200px; 
    top: 285px;
    z-index: 2;
    opacity: 0;
}

.services {
    position: fixed; 
    left: 26%; 
    width: 250px; 
    top: 300px;
    z-index: 2;
    opacity: 0;
}

.project1{
    position: fixed; 
    top: 30px; 
    left: 225px; 
    width: 450px; 
    height: auto; 
}

.project3{
    position: fixed; 
    top: 30px; 
    right: 225px;
    width: 450px; 
    height: auto; 
}

.project2{
    position: fixed; 
    top: 450px; 
    left: 225px; 
    width: 450px; 
    height: auto; 
}


.border-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 150px; 
    background: repeating-linear-gradient(
        45deg,        
        rgb(191, 222, 224),        
        rgb(140, 231, 163) 60px,   
        transparent 30px, 
        transparent 100px 
    );
    box-shadow: 0 0 0 2px rgb(90, 86, 86); 
}

.border-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 150px; 
    background: repeating-linear-gradient(
        45deg,        
        rgb(191, 222, 224),        
        rgb(140, 231, 163) 60px,   
        transparent 30px, 
        transparent 100px 
    );
    box-shadow: 0 0 0 2px rgb(90, 86, 86); 
}

.content-box {
    position: absolute; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    background: white;
    padding: 20px;
    max-width: 600px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.parallelogram-container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: absolute;
    right: 0;
    top: 100px;
    margin-right: 175px;
}

.parallelogram-container2 {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    position: absolute; 
    top: 90%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    gap: 2px;
}
.parallelogram-container2 a, .parallelogram-container2 button {
    text-decoration: none; /* Remove underline from links */
    color: #292b2c; /* Same color as links */
    background-color: transparent; /* Make button background transparent */
    border: none; /* Remove default button border */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: inherit; /* Same font size */
    cursor: pointer; /* Add pointer cursor for interactivity */
    padding: 0; /* Remove padding to match link style */
    text-align: right; /* Aligns text to the right */
    margin-top: 10px; /* Optional: space between button and links */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
}

.parallelogram-container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: absolute;
    left: 0;
    top: 350px;
    margin-left: 275px;
}

.parallelogram-container4 {
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    position: absolute;
    right: 0; 
    top: 350px; 
    margin-right: 250px 
}

.parallelogram-container5{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: absolute;
    top: 250px;
    left: 285px;
    transform: skew(-20deg); /* Undo skew for the text */
    transform-origin: top left; /* Ensure the text appears upright */
}

.parallelogram-container6{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: absolute;
    left: 285px;
    top: 400px;
    transform: skew(-20deg); /* Undo skew for the text */
    transform-origin: top left; /* Ensure the text appears upright */
}


.parallelogram-container7{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: absolute;
    right: 265px;
    top: 250px;
    transform: skew(-20deg); /* Undo skew for the text */
    transform-origin: top left; /* Ensure the text appears upright */
}

.parallelogram-container8 {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: absolute; 
    bottom: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    gap: 10px; 
}

.parallelogram-container9 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: absolute;
    left: 0;
    top: 200px;
    margin-left: 275px;
}

.parallelogram-container10 {
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    position: absolute; 
    right: 0; 
    top: 500px; 
    margin-right: 250px 
}

.parallelogram-container11 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: absolute;
    left: 0;
    top: 500px;
    margin-left: 275px;
}

.parallelogram-container12 {
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    position: absolute; 
    right: 0; 
    top: 300px; 
    margin-right: 250px 
}

.parallelogram-container13 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    position: absolute;
    left: 0;
    top: 100px;
    margin-left: 200px;
}

.parallelogram_s1{
    display: inline-block;
    padding: 10px;
    background-color: #7e657c;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transform: skew(20deg);
    position: relative;
    padding: 10px 60px;
    font-size: 45px;
}

.parallelogram_s2 {
    display: inline-block;
    padding: 10px 30px; 
    background-color: #7e657c;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transform: skew(20deg); /* Skew to create parallelogram */
    position: relative;
}

.parallelogram_s3 {
    display: inline-block;
    padding: 10px 30px; 
    background-color: #7e657c;
    color: white;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    transform: skew(20deg); 
    position: relative;
}

.parallelogram_s1 span, .parallelogram_s2 span, .parallelogram_s2 ul, .parallelogram_s3 span{
    display: flex;
    transform: skew(-20deg);
    transform-origin: top left;
    color: white;
    text-decoration: none;
    gap: 15px; 
}

.parallelogram_s2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.parallelogram_s2 ul li {
    margin-bottom: 10px;
}

.parallelogram_s2 ul li a {
    font-size: 20px;
}

.parallelogram_s2 ul li a:hover {
    text-decoration: underline;
}


.background-parallelogram {
    position: absolute; 
    transform: skew(20deg); 
    z-index: 0; 
}

#background-parallelogram1 {
    top: 10px;
    width: 75px;
    height: 250px;
    background-color: #48b292;
    right: 287px;
    opacity: 0;
}

#background-parallelogram2 {
    top: 75px;
    width: 75px;
    height: 190px;
    background-color: #122f47;
    right: 350px;
    opacity: 0;
}

#background-parallelogram3 {
    top: 40px;
    width: 75px;
    height: 225px;
    background-color: #d22f99;
    right: 205px;
    opacity: 0;
}

#background-parallelogram4 {
    top: 140px;
    width: 75px;
    height: 125px;
    background-color: #ffa500;
    right: 410px;
    opacity: 0;
}

.textbox1 {
    position: absolute;
    padding: 10px;
    width: 600px; 
    border-radius: 4px; 
    font-family: Arial, sans-serif; 
    color: #afafaf;
    top: 425px;
    left: 0;
    margin-left: 185px;
    font-size: 12;
}

.textbox2 {
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    width: 450px; 
    border-radius: 4px; 
    font-family: Arial, sans-serif; 
    color: #afafaf;
    top: 425px;
    right: 0;
    margin-right: 215px;
    font-size: 25;
}

.textbox3 {
    position: absolute;
    padding: 10px;
    width: 500px; 
    border-radius: 4px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif; 
    color: #afafaf;
    top: 200px;
    right: 0;
    margin-right: 300px;
    font-weight: bold;
}

.textbox4 {
    position: absolute;
    padding: 10px;
    width: 450px; 
    border-radius: 4px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif; 
    color: #afafaf;
    top: 500px;
    left: 0;
    margin-left: 215px;
    font-weight: bold;
}

.textbox5 {
    position: absolute;
    padding: 10px;
    width: 250px; 
    border-radius: 4px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #292b2c;
    bottom: 175px;
    left: 250px;
    z-index: 2;
    writing-mode: vertical-rl; /* This makes the text flow vertically from right to left */
    font-size: 100px;
    opacity: 0;
}

.textbox6 {
    position: absolute;
    padding: 10px;
    width: 250px; 
    border-radius: 4px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #292b2c;
    bottom: 175px;
    left: 250px;
    z-index: 2;
    writing-mode: vertical-rl; /* This makes the text flow vertically from right to left */
    font-size: 100px;
    opacity: 0;
}
.textbox7 {
    position: absolute;
    padding: 10px;
    width: 250px; 
    border-radius: 4px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #afafaf;
    font-weight: bold;
    bottom: 175px;
    left: 250px;
    z-index: 2;
    writing-mode: vertical-rl; /* This makes the text flow vertically from right to left */
    font-size: 100px;
    opacity: 0;
}

.textbox8 {
    position: absolute;
    padding: 10px;
    width: 500px; 

    border-radius: 4px; 
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif; 
    color: #afafaf;
    top: 50px;
    right: 0;
    margin-right: 225px;
}

.textbox9 {
    position: absolute;
    padding: 10px;
    width: 450px; 

    border-radius: 4px; 
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif; 
    color: #afafaf;
    top: 475px;
    right: 0;
    margin-right: 225px;
}

.textbox10 {
    position: absolute;
    padding: 10px;
    width: 450px; 
    font-weight: bold;
    border-radius: 4px; 

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif; 
    color: #afafaf;
    top: 300px;
    left: 0;
    margin-left: 215px;
}

.textbox11 {
    position: absolute;
    padding: 10px;
    width: 450px; 
    border-radius: 4px; 
    font-family: Arial, sans-serif; 
    color: #333; 
    top: 375px;
    left: 825px;
    font-weight: bold;
    font-size: 35px;
}

body {
    background: linear-gradient(120deg, #1c1b5f, #536b9f);
    margin: 0; 
    font-family: Arial, sans-serif;
    color: white;
    position: relative; 
}